@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, sans-serif, Cause;
    font-size: 16px;
    line-height: 1.5;
    color: white;
    background-color: #9ECE88;
    -webkit-font-smoothing: antialiased;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Cause, fantasy;
}

.main {
  flex: 1;
  background-image:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("assets/Fondo.png");
  background-size: cover;
}

button {
  font-family: inherit;
}

a {
  color: inherit;
}
